<h1>Countries</h1>

<hr>

<ul class="list-group">
    <li routerLink="countries/capital"
        routerLinkActive="active"
        class="list-group-item">
        Search by capital
    </li>

    <li routerLink="countries/country"
        routerLinkActive="active"
        class="list-group-item">
        Search by country
    </li>

    <li routerLink="countries/region"
        routerLinkActive="active"
        class="list-group-item">
        Search by region
    </li>
</ul>