<h1>Countries</h1>

<hr>

<ul class="list-group">
    <!--
    <li routerLink=""
        class="list-group-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        Home Page
    </li>

    <li routerLink="about"
        routerLinkActive="active"
        class="list-group-item">
        About Page
    </li>
    
    <li routerLink="contact"
        routerLinkActive="active"
        class="list-group-item">
        Contact
    </li> -->

    <li routerLink="countries/capital"
        routerLinkActive="active"
        class="list-group-item">
        Search By capital
    </li>

    <li routerLink="countries/region"
        routerLinkActive="active"
        class="list-group-item">
        Search By region
    </li>

    <li routerLink="countries/country"
        routerLinkActive="active"
        class="list-group-item">
        Search By country
    </li>
</ul>