<div style="height: 80vh; width: 100%;" class="d-flex flex-column align-items-center"> 
    <div class="row w-75">
            <p class="display-5">Explore Country Information with Angular and REST Countries</p>
            <p>Welcome to WorldExplorer, your gateway to discovering fascinating information about countries around the globe. This web application, powered by Angular, seamlessly integrates with the RESTful API from restcountries.com, providing users with a rich and interactive experience as they explore the diverse characteristics of nations.</p>
            <p>With WorldExplorer, you can...</p>
            <p>1. Search country by country name</p>
            <p>2. Search country by country region</p>
            <p>3. Search country by country capital</p>
            <p>Lets get started!</p>
            <a href="https://github.com/opbonachera/countries-app" target="_blank">Github Repository</a>
            <a href="https://restcountries.com/" target="_blank">REST Countries API</a>
    </div>
</div>
