<div *ngIf="country">
    <h1>Country Details: {{country.name.common}}</h1>
    <hr>
    <div class="row m-2">
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item">
                    Name: {{ country.name.common }}
                </li>
                <li class="list-group-item">
                    Capital Name: {{ country.capital }}
                </li>
                <li class="list-group-item">
                    Population: {{ country.population | number }}
                </li>
                <li class="list-group-item">
                    Timezone: {{ country.timezones[0] }}
                </li>
                <li class="list-group-item">
                    Continent: {{ country.continents[0] }}
                </li>
            </ul>
        </div>
    
        <div class="col-4">
            
            <div class="rounded text-center p-1 ">
                <img src="{{country.flags.svg}}" 
                         id="flag"
                         alt="{{country.name.official}}"
                         class="rounded">  
            </div>

        </div>
    
        </div>
</div>
<div *ngIf="loading">
    <shared-loading-spinner></shared-loading-spinner>
</div>