<div>
    <h1>Search by Region</h1>
    <hr>
    <div class="row m-2">
        
        <div class="d-flex justify-content-evenly mb-3">
                <button *ngFor="let region of regions"
                        class="btn btn-outline-dark"
                        (click)="searchByRegion(region)"
                        >
                    {{region}}
                </button>
        </div>
        <hr>
        <div class="col">
            <div class="row">
                <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
                <app-country-datatable [countries]="countries" [isLoading]="isLoading"></app-country-datatable>
            </div> 
        </div>

    </div>
</div>