<div>
    <h1>Search by Capital</h1>
    <hr>
    <div class="row">
        <div class="">
                <app-search-box 
                    placeholder="Enter Capital Name..."
                    (onDebounce)="searchByCapital($event)"
                    [initialValue]="initialValue"
                    ></app-search-box>
        </div>
        
        <div class="col">
            <div class="row">
                    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
                    <app-country-datatable [countries]="countries" [isLoading]="isLoading"></app-country-datatable>
            </div> 
        </div>
    </div>
</div>
